@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Melbourne<br />
    Clayton<br />
    <abbr title="Phone">Phone:</abbr>
    0435746546
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ypen0043@student.edu.au</a><br />

</address>